body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 50px;
}

.header-part {
    height: 500px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 669px;
}

div {
    width: 60%;
    margin: 0 auto;
}

.header-part h1 {
    color: white;
    font-size: 60px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.header-part p {
    color: white;
}

p {
    text-align: center;
}

.other-amount {
    font-size: 25px;
    color: grey;
    font-weight: 300;
}

hr {
    width: 70%;
}

button {
    color: white;
    padding: 18px 30px;
    background-color: #FF5959;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.money-amount {
    margin: 0 auto;
}

span {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}

#two-hundread {
    background-color: #ffeeee;
    padding: 15px;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.flexible-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.donate-plan-item {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#food {
    background-color: #F0FFF8;
}

#shelter {
    background-color: #FFB6C1;
}

#education {
    background-color: #FFFACD;
}

input {
    background-color: rgb(233, 218, 218);
    padding: 8px 16px;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.updates {
    background-color: #FFEBCD;
    padding: 40px;
}

.updates input {
    display: inline;
    margin: 0;
}

footer {
    background-color: black;
    padding: 30px;
}

footer h1 {
    color: #d33c3c;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
}